.bgColor{
    -fx-background-color: linear-gradient(to bottom, #678cdb , #d46cf1 ,#43adad ,#3bf30e );
} 
.temp{
    -fx-background-radius:20px;
}
.button{
 -fx-cursor:hand;
 -fx-background-color:  #f3660e;
 -fx-background-radius:  30 0 0 30;
 -fx-background-radius:  10px;
 -fx-border-color: #000000;
 -fx-border-radius:10px;
}