.bgColor{
   	 -fx-background-color: linear-gradient(to bottom, #67d1db , #d46cf1 ,#43adad );
} 
.temp{
   	 -fx-background-radius:20px;
}
.button{
	 -fx-cursor:hand;
	 -fx-background-color:  #3bf30e;
	 -fx-background-radius:  30 0 0 30;
	 -fx-background-radius:  10px;
	 -fx-border-color: #000000;
	 -fx-border-radius:10px;
}

