.bgColor{
    -fx-background-color: linear-gradient(to bottom, #fcb045 , #fd1d1d ,#833ab4 );
} 
.temp{
    -fx-background-radius:20px;
}
.button{
 -fx-cursor:hand;
 -fx-background-color:  #f30ee0;
 -fx-background-radius:  30 0 0 30;
 -fx-background-radius:  10px;
 -fx-border-color: #000000;
 -fx-border-radius:10px;
}