.bgColor{
    -fx-background-color: linear-gradient(to bottom, #C9FFBF , #FFAFBD );
} 
.temp{
    -fx-background-radius:20px;
}
.button{
 -fx-cursor:hand;
 -fx-background-color:  #727a8d;
 -fx-background-radius:  30 0 0 30;
 -fx-background-radius:  10px;
 -fx-border-color: #000000;
 -fx-border-radius:10px;
}